<nav class="navbar navbar-default bg-dark">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink='signin'>sigin</a></li>
          <li routerLinkActive='active' class="nav-item"><a  class="nav-link" routerLink="signup">add signup</a></li>
          <li routerLinkActive='active' class="nav-item"><a  class="nav-link" routerLink="goods/add-one-good">add good</a></li>
          <li routerLinkActive='active' class="nav-item"><a class="nav-link"routerLink='goods'>Appareils</a></li>
          <li routerLinkActive = "active" class="nav-item"><a class="nav-link" routerLink='updategood/:id'>editer</a></li>
        </ul>
      </div>  
    </div>
  </nav>
  